<div class="header">
  <div class="wrapper clearfix">
    <ul class="menu clearfix">
      <li class="item"><a href="#/about">关于我们</a></li>
      <li class="item"><a href="#/case">我们的案例</a></li>
      <li class="item"><a href="#/tech">我们的服务</a></li>
      <li class="item"><a href="#/contact">联系我们</a></li>
    </ul>
  </div>
</div>

<!-- 关于我们 -->
<div class="section section1">
  <div class="wrapper">
    <p class="p1">利用精湛的web 技术 为您与用户之间构造一条宽阔的大道</p>
    <p class="p2">上海博思团队</p>
  </div>
</div>

<!-- 关于我们结束 -->



<!-- 我们的优势 -->
<div class="section section2">
  <div class="wrapper">
    <div class="bg">
      <div class="info">
        <p>先进的Web 2.0技术, 包含无与伦比的CSS3技术，搭载多尺寸的mobile responsive设计理念, 让您的网站脱颖而出</p>
      </div>
    </div>
  </div>
</div>

<!-- 我们的优势结束-->

<!--我们的案例 -->
<div class="section section3">
  <div class="wrapper">
      <div class="case-list clearfix">
        <div class="item" ng-repeat="item in caseitems">
            <div class="item-wrapper clearfix">
                <img src="{{item.thumbnail}}" alt="" class="img" />
                <div class="description">
                  <div class="title">
                    <h4>{{item.title}}</h4>
                  </div>
                  <div class="info"><p>{{item.info}}</p></div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- 我们的案例 -->>

<div class="section section4">
    <div class="wrapper">
        <div class="top">
            <h2>我们的服务</h2>
            <div class="desc">
                <p>我们的服务 我们的服务 我们的服务 我们的服务 我们的服务 我们的服务 我们的服务 我们的服务 </p>
            </div>
        </div>
        <div class="services-con">
            <ul class="items" ng-repeat="item in services">
                <li class="item clearfix">
                    <div class="icon">
                        <img src="{{item.thumbnail}}" alt="" />
                    </div>
                    <div class="info">
                        <h3>{{item.title}}</h3>
                        <div class="text">{{item.info}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>